* {
  box-sizing: border-box; 
}
body{
   min-height: 100vh;
  padding: 0;
  margin: 0;
font-family: 'Figtree', sans-serif;
line-height: 150%;
}
.page{
     min-height: 100vh;
  background-color:#F4D04E;
    display:grid;
  align-items:center;
  justify-content:center;
  padding: 25px;
}
.image{
  border-radius:12px; 
  height:auto;
  width:100%;
}
.main-card{
  display:grid;
  height:auto;
  width:100%;
  max-width:24rem;
  background-color:#FFFFFF;
  gap:12px;
  padding:24px;
  box-shadow: 8px 8px 0px 0px #000000;
  border: 2px solid #000000;
  border-radius:20px;
  justify-self: center;
  transition: box-shadow 0.3s ease;
}
.pseudo-button{
 background-color:#F4D04E;
  font-size:14px;
  font-weight:800;
  width:fit-content;
  padding:4px 12px;
  border-radius: 4px; 
}
.date{
  font-size:14px;
  font-weight:500;
}
.heading{
  font-size:24px;
  font-weight:800;
  transition: color 0.4s ease;
}
.explanation-para{
  font-size:16px;
  color:#6B6B6B;
  margin-bottom: 12px;
  font-weight: 500;
}
.profile{
  height: 32px;
  width: auto;
}
.footer{
  display:grid;
  align-items: center;
  grid-template-columns:auto auto; 
  font-size:14px;
  font-weight:800;
  width: fit-content;
  gap:12px ;
}
@media (hover: hover) and (pointer: fine) {
  .main-card {
    cursor: pointer;
  }
  .main-card:hover {
    box-shadow: 16px 16px 0px 0px #000000;
  }
  .main-card:hover .heading {
    color: #F4D04E;
  }
}
@media(max-width: 480px){
  .explanation-para{
    font-size: 13px;
  }
  .heading{
    font-size: 19px;
  }
  .date{
    font-size: 12px;
  }
.pseudo-button{
  font-size: 12px;
}
}
